.ak-window{
    display: grid;
    row-gap: 10%;
    align-items: stretch;
    justify-items: stretch;
    grid-template-rows: 1fr 0.7fr auto;
}

.key-input{
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 10%;
    justify-items: center;
    align-self: center;
}

.key-input label{
    align-self: center;
}

/* .key-input input{
} */

.discord-info{
    width: 100%;
    padding-bottom: 2%;
    border-bottom: 2px solid white;
}

