<div class="content">
    <div class="window ak-window">
        <app-discord-info [border]="true"></app-discord-info>
        <div class="key-input">
            <label for="key" class="meidum-style font-24">Activate the key</label>
            <div class="input-button simple-input">
                <input type="text" class="" placeholder="Licens key" id="key" mask="AAAA-AAAA-AAAA-AAAA" >
                <button (click)="click()"><img src="/assets/img/buttons/arrow.svg"></button>
            </div>

        </div>

    </div>
</div>