<div class="content">
    <div class="window ak-window">
        <div class="discord-info">
            <img src="/assets/img/logo/quasar.svg" class="discord-avatar">
            <span class="discord-nickname medium-style">Nickname#0000</span>
        </div>
        <div class="key-input">
            <label for="key" class="meidum-style font-24">Activate the key</label>
            <input type="text" class="simple-input" placeholder="Licens key" id="key">

        </div>
        <button class="discord-login-btn light-style"><img src="/assets/img/icons/discord-icon.svg">Log out</button>

    </div>
</div>