<div class="home">
    <div class="links">
        <button class="admin-button" routerLink="/admin-panel/members">Members</button>
        <button class="admin-button">Drops</button>
        <button class="admin-button" (click)="generatePassword()">Last payments</button>
        <div class="" *ngIf="newKey">
            <form [formGroup]="newKeyForm" (ngSubmit)="onAddKey()">
                <select formControlName="status">
                    <option value="lifetime">Lifetime</option>
                    <option value="renewal">Renewal</option>
                </select>
                Дата окончания: <input type="date" formControlName="date">
                <input type="submit">
            </form>
        </div>
    </div>
    
    <div class="action">
        <button class="admin-button new-drop">New drop <span>+</span></button>
        <button class="admin-button new-success">New success <span>+</span></button>
        <button class="admin-button" (click)="onNewKey()">New key<span>+</span></button>
        
    </div>

</div>