<div class="home">
    <div class="links">
        <button class="admin-button" routerLink="/admin-panel/members">Members</button>
        <button class="admin-button">Drops</button>
        <button class="admin-button">Last payments</button>
        <button class="admin-button">Notifications</button>
    </div>
    
    <div class="action">
        <button class="admin-button new-drop" (click)="showModal(1)">New drop <span>+</span></button>
        <button class="admin-button new-success" (click)="showModal(2)">New success <span>+</span></button>
        <button class="admin-button" (click)="showModal(3)">New key<span>+</span></button>
        
    </div>


</div>

<div class="artboard" *ngIf="modal!=0">
    <div class="modal" (click)="showModal(modal)">
        <span (click)="hideModal()" class="danger-message pointer close-modal">Закрыть</span>
        <app-new-drop *ngIf="modal==1"></app-new-drop>
        <app-new-success *ngIf="modal==2"></app-new-success>
        <app-new-key *ngIf="modal==3"></app-new-key>
    </div>

</div>



