<div class="filt-sort">
    <select [(ngModel)]="sort" (ngModelChange)="onChange()">
        <option value="" selected>Sorting</option>
        <option value="createdAt1">Created down</option>
        <option value="createdAt2">Created up</option>
        <option value="expiresIn1">Renewal down</option>
        <option value="expiresIn2">Renewal up</option>
    </select>
    
    <div class="status">
        <div class="">
            <input type="checkbox" [(ngModel)]="bind" (ngModelChange)="onChange()" id="bind">
            <label for="bind">Bind</label>   
        </div>
        <div>
            <input type="checkbox" [(ngModel)]="unbind" (ngModelChange)="onChange()" id="unbind">
            <label for="unbind" >Unbind</label> 
        </div>
        <div>
            <input type="checkbox" [(ngModel)]="expired" (ngModelChange)="onChange()" id="expired">
            <label for="expired" >Expired</label> 
        </div>
    </div>
    
    <input type="text" [(ngModel)]="search" (ngModelChange)="onChange()" placeholder="Search">
    

</div>