<app-navbar></app-navbar>
<!-- <app-checkout *ngIf="checkout" [dropId]="dropId" (onCloseCheckout)="onCloseCheckout($event)"></app-checkout> -->
<app-checkout-widget *ngIf="checkout" [dropId]="dropId" [password]='password' (onCloseCheckout)="onCloseCheckout($event)"></app-checkout-widget>
<app-header [successes]="successes.reverse()" (onOpenCheckout)="onOpenCheckout($event)"></app-header>
<app-monitors></app-monitors>
<app-successes [successes]="successes"></app-successes>
<app-social></app-social>
<app-footer></app-footer>
<!-- <div class="black-back"></div> -->