footer{
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 2px solid #d8d8d8;
    background-color: black;
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto;
    column-gap: 30px;
    font-size: 12px;
}

.cactus-web{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    vertical-align: center;
    column-gap: 5px;
}

.cactus-web img{
    width: 25px;
}

.pointer:hover{
    text-decoration: underline;
}

@media (max-width: 450px){
    footer{
        font-size: 8px;
        column-gap: 20px;
        padding: 5px 0px; 
    }

    .cactus-web img{width: 20px}
    
}