img{
    position: absolute;
}

.ufo{
    top: -50px;
    right: -150px;
}

.meteor{
    bottom: -100px;
    width: 270px;
    right: -110px;
    transform: rotate(-19deg);
}

.mars{
    bottom: 25px;
    left: -130px;
}