nav{
    background-color: #0d1223;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding-top: 10px ;
    padding-bottom: 10px;
    align-items: center;
    color: white;
    font-size: 14pt;
}

nav>*{
    margin: 1px;
}

nav>img{
    width: 50px;
}

ul.menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
    justify-self: center;
    justify-items: center;
    list-style: none;
}

ul.menu li{
    align-self: center;
    display: grid;
    align-items: center;
    padding: 0px 0px 1px !important;
    transition: 1s;
}

ul.menu li:hover{
    background: linear-gradient(to left, #7a01ff, #e967ff, #69ecf3);
    /* transition: 1s; */
}


a{
    background-color: #0d1223;
}


nav .link-dashboard a{
    padding: 8px 20px;
    border-radius: 25px;
    background-color: #0d1223;
    transition: 0.4s;
}

nav .link-dashboard a:hover{
    background-color: #142444;
}

.link-dashboard img{
    width: 100%;
}