
.admin-input{
    padding: 5px 15px;

    background-color: #21355B;
    border: 2px solid #E5E5E5;
    border-radius: 30px;
    color: white;
    justify-self: center;
    align-self: center;
    text-align: center;

    transition: 0.2s;
}