.window{
    grid-template-rows: 0.8fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    grid-row-gap: 50px;
    box-sizing: border-box;
}

router-outlet{
    position: absolute;
}


.discord-avatar img{
    border-radius: 0%;
    transition: 0.2s;
    max-width: 70%;
}

.discord-avatar img:hover{
    height: 110%;
}
