<div class="monitors standart-padding relative" id="monitors">
    <div class="descript-block hiddenAll">
        <h2 class="nameOfDescript bold-style " data-aos="fade-up">Мониторы</h2>
        <p class="descript light-style" data-aos="fade-up">наши разработчики активно работают <br> над мониторами, чтобы пользователи <br> первыми узнавали о шок-дропах и рестоках</p>
    </div>

    <div class="details">
        <div data-aos="fade-left">
            <div class="gradient-circle relative shopify" >
                <div class="circle shopify relative" (mouseenter)="hover('enter', 'ru', 'shopify')" (mouseleave)="hover('leave', 'ru', 'shopify')" >
                    <img src="/assets/img/monitors/shopify.png" alt="shopify">
                </div>
                <div class="first-circle minicircle hidden kith">
                    <svg aria-hidden="true" alt="kith" focusable="false" role="presentation" class="icon icon--wide site-logo" viewBox="0 0 900 383"><path d="M0 191.5V383h900V0H0zm117-77c0 28.3.3 51.5.8 51.5s18.2-23.2 39.6-51.5L196.3 63h30.9c16.9 0 30.8.2 30.8.5s-16.4 22.2-36.4 48.7l-36.5 48.2 1.6 3c.9 1.7 19.8 37.4 42 79.4s40.3 76.5 40.3 76.7-13.6.4-30.2.3l-30.1-.3-30.1-57.7c-16.6-31.8-30.4-57.7-30.7-57.5s-7.5 8.7-15.7 19.2l-15.1 19-.1 38.7V320H63V63h54zm252 77V320h-54V63h54zM596 86v23h-66v211h-54V109h-65V63h185zm98 26.5V162h89V63h54v257h-55V212h-88v108h-54V63h54z"></path></svg>
                </div>
                <div class="second-circle minicircle hidden undftd">
                    <img src="/assets/img/monitors/shopify/undftd.svg" alt="undftd">
                </div>
                <div class="third-circle minicircle hidden dsm">
                    <img src="/assets/img/monitors/shopify/dsm.svg" alt="dsm">
                </div>
            </div>
        </div>

        <div  data-aos="zoom-in">
            <div class="point-img hiddenAll">
                <img src="/assets/img/monitors/left.png" alt="влево">
                <span>Наведи, чтобы <br> узнать подробнее</span>
                <img src="/assets/img/monitors/right.png" alt="вправо">
            </div>
        </div>

        <div data-aos="fade-right">
            <div class="gradient-circle ru relative">
                <div class="circle ru relative" (mouseenter)="hover('enter', 'shopify', 'ru')" (mouseleave)="hover('leave', 'shopify', 'ru')">
                    <img src="/assets/img/monitors/ru.png" alt="russia-map">
                </div>
                <div class="first-circle minicircle hidden"><img src="/assets/img/monitors/ru/sneakerhead.svg" alt="sneakerhead" class="sneakerhead"></div>
                <div class="second-circle minicircle hidden"><img src="/assets/img/monitors/ru/brandshop.svg" alt="brandshop" class="brandshop"></div>
                <div class="third-circle minicircle hidden"><img src="/assets/img/monitors/ru/belief.png" alt="belief" class="belief"></div>
                <div class="four-circle minicircle hidden"><img src="/assets/img/monitors/ru/tsum.svg" alt="tsum" class="tsum"></div>
            </div>
        </div>
    </div>

    <div class="sub-details hiddenAll" >

        <div class="gradient-circle relative end pointer" data-aos="fade-up">
            <div class="sub-circle">
                <svg width="123" alt="end" height="35" viewBox="0 0 123 45" xmlns="http://www.w3.org/2000/svg"><defs><path d="M0 44.83h123.537V0H0z"></path></defs><path fill="currentColor" d="M0 0v44.83h24.167v-7.575H8.595V25.458h11.398v-7.576H8.595V7.575h14.948V0zM57.488 0v26.575h-.124L45.405 0H36v44.83h7.848V15.896h.123l13.143 28.936h8.222V0zM80 0h11.958c9.842 0 15.323 4.222 15.696 15.523v13.784c-.373 11.3-5.854 15.523-15.696 15.523H80V0zm8.595 37.255h2.99c4.734 0 7.474-2.235 7.474-8.94V16.516c0-6.334-2.118-8.942-7.474-8.942h-2.99v29.68zM114 44.817h8.844V36H114z" fill-rule="evenodd"></path></svg>
            </div>
        </div>

        <div class="gradient-circle relative porter pointer" data-aos="fade-up">
            <div class="sub-circle">
                <img src="/assets/img/monitors/other/porter.svg" alt="porter">
            </div>
        </div>

        <div class="gradient-circle relative slamjam pointer" data-aos="fade-up">
            <div class="sub-circle">
                <img src="/assets/img/monitors/other/slamjam.png" alt="slamjam">
            </div>
        </div>

        <div class="gradient-circle relative svd pointer" data-aos="fade-up">
            <div class="sub-circle">
                <img src="/assets/img/monitors/other/svd.svg" alt="svd">
            </div>
        </div>

    </div>


</div>
