.monitors{
    display: grid;
    grid-row-gap: 70px;
    padding-top: 10px;
    background-color: #fff;
    padding-bottom: 4px;
}

.descript-block{
    text-align: center;
    display: grid;
    grid-row-gap: 15px;
    justify-self: center;
}


p{
    padding: 0px;
    margin: 0px;
}

.descript{
    color: #5b5b5b;
    font-size: 16pt;
}

.details{
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.gradient-circle{
    display: grid;
    justify-items: center;
    align-items: center;

    background: linear-gradient(to left, #7a01ff, #e967ff, #69ecf3);
    padding: 4px;

    border-radius: 50%;
}

.details .circle{
    background-color: #000000;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 40px;
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}

.details .circle img{
    height: 90%;
}

.details .point-img{
    display: grid;
    justify-items: center;
    align-items: center;
}
