.monitors{
    display: grid;
    grid-row-gap: 70px;
    padding-top: 10px;
    background-color: #fff;
    padding-bottom: 4px;
    z-index: 11;
}

.descript-block{
    text-align: center;
    display: grid;
    grid-row-gap: 15px;
    justify-self: center;
}


p{
    padding: 0px;
    margin: 0px;
}

.descript{
    color: #5b5b5b;
    font-size: 16pt;
}

.details{
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 20px;
    z-index: 13;

}



.gradient-circle{
    display: grid;
    justify-items: center;
    align-items: center;

    background: linear-gradient(to left, #7a01ff, #e967ff, #69ecf3);
    padding: 4px;

    border-radius: 50%;
}

.details .circle{
    background-color: #000000;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 40px;
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}

.details .circle img{
    height: 90%;
}

.details .point-img{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 5px;
}

.point-img span{
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}
.point-img img:first-child{
    width: 100%;
    margin-top: 60px;
    max-height: 110px;
}
.point-img img:last-child{
    width: 100%;
    margin-top: 45px;
    max-height: 110px;
}

.minicircle{
    position: absolute;
    display: grid;
    place-items: center;

    width: 115px;
    height: 115px;
    background-color: #ffffff;
    border-radius: 50%;

    padding: 20px 20px;

    transition: 0.5s;
    pointer-events: none;

}

.brandshop, .sneakerhead{
    width: 50px;
}

.tsum, .belief{
    height: 40px;
}

.shopify, .ru{
    transition: .6s;
}

.dsm img{
    height: 100%;
}

.shopify .first-circle{
    top: 0px;
    left: 320px;
}

.shopify .second-circle{
    top: 240px;
    left: 240px;
}

.shopify .third-circle{
    top: 320px;
    left: 0px;
}

.ru .first-circle{
    top: 0px;
    right: 320px;
}

.ru .second-circle{
    top: 170px;
    right: 290px;
}

.ru .third-circle{
    top: 290px;
    right: 170px;
}

.ru .four-circle{
    top: 320px;
    right: 0px;
}

.sub-details{
    padding: 0px 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    column-gap: 5px;
}

.sub-details .sub-circle{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 10px;
    background-color: #FFFFFF;
    display: grid;
    place-items: center;
}

.sub-details .sub-circle img, .sub-details .sub-circle svg{
    width: 100%;
}
.sub-details .sub-circle{transition: .8s; }
.sub-details .sub-circle:hover{filter: invert(100%);}