.monitors{
    display: grid;
    grid-row-gap: 70px;
    padding-top: 10px;
    background-color: #fff;
    padding-bottom: 4px;
}

.descript-block{
    text-align: center;
    display: grid;
    grid-row-gap: 15px;
    justify-self: center;
}


p{
    padding: 0px;
    margin: 0px;
}

.descript{
    color: #5b5b5b;
    font-size: 16pt;
}

.details{
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.gradient-circle{
    display: grid;
    justify-items: center;
    align-items: center;

    background: linear-gradient(to left, #7a01ff, #e967ff, #69ecf3);
    padding: 4px;

    border-radius: 50%;
}

.details .circle{
    background-color: #000000;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 40px;
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}

.details .circle img{
    height: 90%;
}

.details .point-img{
    display: grid;
    justify-items: center;
    align-items: center;
    transition: 0.2s !important;
}

.minicircle{
    position: absolute;
    display: grid;
    place-items: center;

    width: 115px;
    height: 115px;
    background-color: #ffffff;
    border-radius: 50%;

    transition: 0.5s;
    pointer-events: none;

}

.shopify, .ru{
    transition: .4s;
}

.shopify .first-circle{
    top: 0px;
    left: 320px;
}

.shopify .second-circle{
    top: 240px;
    left: 240px;
}

.shopify .third-circle{
    top: 320px;
    left: 0px;
}

.ru .first-circle{
    top: 0px;
    right: 320px;
}

.ru .second-circle{
    top: 170px;
    right: 290px;
}

.ru .third-circle{
    top: 290px;
    right: 170px;
}

.ru .four-circle{
    top: 320px;
    right: 0px;
}