<div class="discord-info" [ngClass]="{'border': border}">
        <div class="discord-avatar"><img [src]="avatar" class=""></div>
        <span class="discord-nickname medium-style">{{username}}#{{discriminator}}</span>
        <ngx-spinner
            *ngIf="showSpinner"
            type="ball-clip-rotate"
            bdColor=""
            size="large"
            color="#fff"
            [fullScreen]="false"
        >
        </ngx-spinner>           
        <app-basic-buttons ></app-basic-buttons>
</div>