<div class="content">
    <div class="window db-window">
        <app-discord-info [showSpinner]="false"></app-discord-info>

        <div class="info">
            <div class="subscribe-info">
                <div class="first">
                    <div class="key">
                        <label for=""></label>
                    </div>
                    <div class="joing"></div>
                    <div class="prolongation"></div>
                    <div class="subscribe"></div>
                </div>
                <div class="second">
                    <div class="type-subscribe"></div>
                    <div class="payment"></div>
                </div>
            </div>
            <div class="other">
                <img src="/assets/img/dashboard/guides.svg" alt="">
                <img src="/assets/img/dashboard/logistic.svg" alt="">
            </div>

        </div>
        <ngx-spinner
        type="ball-clip-rotate"
        bdColor="#21355B"
        size="large"
        color="#fff"
        [fullScreen]="false"
        >
        <p style="font-size: 20px; margin-top: 50px; color: white">Loading...</p>
        </ngx-spinner>
        

    </div>
</div>