.basic-buttons:first-child{
    top: 6% ;
    left: 9%;
}
.basic-buttons:nth-child(2){
    top: 6%;
    right: 9%;
}

.row-2{
    grid-template-rows: auto 1fr;
}


.db-window{
    display: grid;
    grid-row-gap: 3%;
    padding: 1% 5% !important;
    grid-template-rows: 0.7fr 1fr auto;
    place-items: stretch;
}

.info{
    display: grid;
    grid-template-columns: 1fr minmax(150px, auto);
    justify-self: stretch;
    align-self: stretch;
    border-top: 2px solid white;
}



.info>div{
    padding: 15px 35px;
    display: grid;
    justify-items: center;
    align-items: center;
    /* height: 240px; */
}

.info>div:first-child{
    border-right: 1px solid white;
}

.info>div:last-child{
    border-left: 1px solid white;
}


.subscribe-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    column-gap: 5%;
    font-size: 14px;
}

.subscribe-info>*{
    width: 100%; 
    height: 100%;

    display: grid;

    row-gap: 5%;
    grid-template-rows: repeat(4, 1fr);
}
/* 
.subscribe-info>*:first-child{
    background-color: rgb(142, 30, 207);
}

.subscribe-info>*:last-child{
    background-color: rgb(30, 207, 192);
} */


.subscribe-info .payment{
    grid-row: 3/5;
    grid-template-rows: auto 1fr;
    row-gap: 15px !important;
}


.subscribe-info label{
    font-size: 16px;
    align-self: end;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 5px;
    align-items: center;
    
}

.subscribe-info>div>div{
    display: grid;
    grid-row-gap: 4px;
}

.subscribe-info .unbind{
    align-items: center;
    justify-items: start;
    padding: 10px 0px;
    
}
.subscribe-info .unbind button{
    border-radius: 12px;
    background-color: rgba(174, 41, 41, 0.5);
    border: 1px solid #E5E5E5;
    color: white;
    padding: 0px 30px;
    height: 30px;

    transition: 0.2s;
    /* min-height: 20px; */
}
.subscribe-info .unbind button:hover{
    background-color: #AE2929;
}


.other{
    display: grid;
    color: black;
    font-size: 9px;
}

.other .img{
    display: grid;
    justify-items: center;
    width: 80px;
    height: 80px;
    
    border-radius: 50%;
    background-color: #E5E5E5;
    transition: .4s;
}

.other .img:hover{
    background-color: #BABABA;
}

.other .img:first-child img{
    margin-left: 5px;
}

.other .img img{
    align-self: end;
}

.other .img span{
    align-self: start;
    text-align: center;
}


.checkbox{
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 5px;
    align-items: center;
    align-self: start;
    justify-self: start;
}

.switch {
    position: relative;
    display: inline-block !important;
    width: 26px;
    height: 14px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(174, 41, 41, 0.75);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgba(51, 174, 41, 0.5);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgba(51, 174, 41, 0.5);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 13px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .disabled{
      opacity: .3;
  }

  
    .card-info{
      display: grid;
      row-gap: 5%;
      align-items: center;
    }
  
  .card-info input{
    display: inline-block;
    box-sizing: border-box;
    height: 30px;
    border-radius: 50px;
    background-color: #21355B;
    text-align: center;
    border: none;
    color: white;
  }
  .card-info>input:first-child{
      width: 100%;
  }

  .card-info .date-cvv input:last-child{
      margin-left: 10%;
  }
  .card-info .date-cvv input:first-child, .card-info .date-cvv input:last-child{
      width: 45%; 
  }