<div class="content">
    <div class="window db-window">
        <app-discord-info [showSpinner]="false" (onSendData)="onSendData($event)"></app-discord-info>

        <div class="info">
            <div class="subscribe-info">
                <div class="first">
                    <div class="key row-2">
                        <label> <img src="/assets/img/dashboard-icons/key.svg">Key</label>
                        {{userData.key}}
                    </div>
                    <div class="joing row-2">
                        <label> <img src="/assets/img/dashboard-icons/joing.svg">Joing</label>
                        {{userData.createdAt}}
                    </div>

                    <div class="subscribe row-2" [ngClass]="{ 'disabled': type == 'lifetime' }">
                        <label> <img src="/assets/img/dashboard-icons/subscribe.svg">Subscription</label>

                        <div class="light-style checkbox">
                            OFF
                            <label class="switch" id="theme">
                                <input type="checkbox" [(ngModel)]="subscribe" (ngModelChange)="confirm('unsubscribe')" [disabled]="type == 'lifetime'">
                                <span class="slider round"></span>
                            </label>
                            ON
                        </div>
                    </div>

                    <div class="unbind"><button (click)="confirm('unbind')">Unbind</button></div>

                </div>
                <div class="second">
                    <div class="type-subscribe row-2">
                        <label> <img src="/assets/img/dashboard-icons/type-subscribe.svg">Type</label>
                        {{userData.status}}
                    </div>
                    <div class="renewal row-2"  [ngClass]="{ 'disabled': type == 'lifetime' }">
                        <label> <img src="/assets/img/dashboard-icons/renewal.svg">Renew</label>
                        {{userData.expiresIn}}
                    </div>
                    <div class="payment" [ngClass]="{ 'disabled': type == 'lifetime' }">
                        <label> <img src="/assets/img/dashboard-icons/payment.svg">Payment</label>
                        <div class="card-info" *ngIf="userData.card">
                            <input type="text" class="card-number" [value]="userData.card.number" disabled>
                            <div class="date-cvv">
                                <input type="text" class="card-date" [value]="userData.card.expiry_month + '/' + userData.card.expiry_year" disabled>
                                <input type="text" class="card-cvv" value="***" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="other">
                <div class="img pointer">
                    <img src="/assets/img/dashboard/guides.svg" alt="">
                    <span>Guides</span>
                </div>
                <div class="img pointer">
                    <img src="/assets/img/dashboard/logistic.svg" alt="">
                    <span>Quasar <br>Logistic</span>
                </div>
            </div>

        </div>
        <ngx-spinner
        type="ball-clip-rotate"
        bdColor="#21355B"
        size="large"
        color="#fff"
        [fullScreen]="false"
        >
        <p style="font-size: 20px; margin-top: 50px; color: white">Loading...</p>
        </ngx-spinner>
        

    </div>
    <app-pop-up *ngIf="showPopup" [header]="headerPopup" [message]="messagePopup" (onConfirm)="onConfirm($event)"></app-pop-up>
    <app-checkout-widget *ngIf="checkout" [typeCheckout]="typeCheckout" (onCloseCheckout)="onCloseCheckout($event)"></app-checkout-widget>


</div>

