<div *ngIf="error">
  <div class="plug"></div>
  <div class="error" >
    <img src="/assets/img/icons/emoji.svg" alt="sorry">
    <h3>Oops!</h3>
    <p>
      К сожалению, вам не удалось приобрести подписку.<br>Попробуйте в следующий раз.
    </p> 
    <span>
      <button routerLink="/">На главную</button>
    </span>
  
  </div>

</div>
<ngx-spinner
        type="ball-clip-rotate"
        bdColor="#21355B"
        size="large"
        color="#fff"
>
  <p style="font-size: 20px; color: white">Checking access...</p>
</ngx-spinner>
<!-- <ngx-spinner></ngx-spinner> -->