.artboard{
    position: absolute;

    width: 100%;
    height: 100%;
}

.plug{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}

.pop-up{
    display: grid;
    align-items: center;
    row-gap: 25px;

    padding: 30px 60px 20px;

    background-color: #0F1D38;
    /* border: 2px solid white; */
    border-radius: 30px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
}

h3{
    margin: 0px;
    font-size: 22px;

    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}

p{
    margin: 0px;
    font-size: 18px;
    max-width: 260px;
    text-align: center;
}

.buttons{
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.button{
    justify-self: center;
    display: grid;
}

button{
    background: none;
    font-size: 12px;
    border: 2px solid white;
    border-radius: 12px;
    color: white;

    width: 40px;
    height: 30px;
}

button:hover{
    background-color: #21355B;
}