.successes{
    display: grid;
    grid-row-gap: 40px;
    background-image: url("/assets/img/background/successes.png");
    padding-top: 150px;
    color: white;
    padding-bottom: 50px;
    /* z-index: -1; */
}

.nameOfDescript{
    text-align: center;
}

.blockOfSuccesses{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 100px;
}

.perMonth{
    padding: 30px 100px;
    background-color: #000000;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 20px;
    text-align: center;
}

.perMonth .month{
    margin: 0px;
    font-size: 24px;
}

.descript-success{
    align-self: center;
    width: 161px;
    margin: 0px;
}


.perMonth .otherMonth{
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
}

.gradient{
    padding: 4px;
    border-radius: 10px;
    justify-items: stretch;
    align-items: stretch;
    justify-self: stretch;
    align-self: stretch;
}

.photo-success{
    background-color: #000000;
    border-radius: inherit;
}

.photo-success img{
    width: 100%;
}

.transition{
    background-image: url("/assets/img/background/transition-main.png");
    background-size: cover;
    transform: scale(1, -1);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0px;
    /* bottom: -1px;
    
    left: 0; */
    height: 370px;
    pointer-events: none;
    width: 100%;
    z-index: 10;
}