<div class="successes relative">
    <a name="successes" class="ablosute"></a>
    <div class="descript">
        <h2 class="nameOfDescript bold-style">Успехи</h2>
    </div>

    <div class="blockOfSuccesses">

        <div class="perMonth regular-style">
            <h3 class="month bold-style">Месяц</h3>
            <div class="descript-success">
                Текст <br> (описание дропов,<br> комментарии и т.д)
            </div>
            <div class="img-success">
                <img src="/assets/img/example-success/success.jpg" alt="" class="img-success">
            </div>
            <div class="otherMonth">
                <span id="prev" class="prev">&lt;</span> <span>посмотри <br> другие месяцы</span> <span id="next" class="next">&gt;</span>
            </div>
        </div>

        <div class="gradient">
            <div class="photo-success"></div>
        </div>
    </div>
    <div class="transition"></div>

</div>