<div class="content">
    <div class="images">

        <div class="window pp-window">
            <app-window-images></app-window-images>

            <div class="discord-info">
                <img src="/assets/img/logo/quasar.svg" class="discord-avatar">
                <span class="discord-nickname medium-style">Nickname#0000</span>
            </div>
            <input type="text" class="simple-input" placeholder="Password">
            <button class="discord-login-btn light-style"><img src="/assets/img/icons/discord-icon.svg">Log out</button>
    
        </div>
    </div>


</div>