<div class="content">
    <!-- <div class="images"> -->

        <div class="window pp-window">
            <!-- <app-window-images></app-window-images> -->

            <div class="discord-info">
                <div class="discord-avatar"><img [src]="avatar" class=""></div>
                <span class="discord-nickname medium-style">{{username}}#{{discriminator}}</span>
            </div>
            <input type="text" class="simple-input" placeholder="Password">
            <button class="discord-login-btn light-style"><img src="/assets/img/icons/discord-icon.svg">Log out</button>
    
        </div>
    <!-- </div> -->


</div>