<div class="content">
    <!-- <div class="images"> -->

        <div class="window pp-window">
            <!-- <app-window-images></app-window-images> -->

            <div class="discord-info">
                <div class="discord-avatar"><img [src]="avatar" class=""></div>
                <span class="discord-nickname medium-style">{{username}}#{{discriminator}}</span>
                <ngx-spinner
                type="ball-clip-rotate"
                bdColor=""
                size="large"
                color="#fff"
                [fullScreen]="false"
                >
                </ngx-spinner>
                <img routerLink="/main" src="/assets/img/buttons/home.svg" class="home basic-buttons pointer">
                <img src="/assets/img/buttons/logout.svg" class="logout basic-buttons pointer">
            </div>
            <div class="input-button simple-input">
                <input type="text" class="" placeholder="Password" id="password">
                <button><img src="/assets/img/buttons/arrow.svg"></button>
            </div>
    
        </div>
    <!-- </div> -->


</div>