/* .window{
    height: 550px;
    width: 750px;
} */

.images{
    padding: 150px;
}

.pp-window{
    display: grid;
    grid-template-rows: 1fr 0.7fr auto;
    grid-row-gap: 10%;
    align-items: stretch;
    justify-items: stretch;
}

/* .pp-window button{ */
    /* margin-top: 40px; */
/* } */

.simple-input{
    align-self: center;
}

.basic-buttons:first-child{
    top: 9%;
    left: 9%;
}
.basic-buttons:nth-child(2){
    top: 9%;
    right: 9%;
}
