<!-- <div class="pagination font-20-16" *ngIf="countPages != 0 && 16 > countPages">
    <span class="prev pointer" id="prev" (click)="changePage(2)">&lt;</span>
    <div class="pages">
        <span class="page pointer" *ngFor="let page of arrayOfPages" [ngClass]="{'active': currentPage == page}" (click)="setLink(page)">
            <a >{{page}}</a>
        </span>
    </div>
    <span class="next pointer" id="next" (click)="changePage(1)">&gt;</span>
</div> -->

<div class="pagination font-20-16" *ngIf="countPages != 0">
    <span class="prev pointer" id="prev" (click)="changePage(2)">&lt;</span>
    <div class="pages">
    <!-- <div class="pages" *ngIf="3 > countPages "> -->
        <span *ngFor="let page of arrayOfPages | pagination:currentPage:8, let index=index" [ngClass]="{'active': currentPage == page, 'page': page != 'more', 'pointer': page != 'more', 'more': page == 'more'}" (click)="setLink(page)">
            <a *ngIf="page != 'more'">{{page}}</a>
            <a *ngIf="page == 'more'">...</a>
        </span>
    </div>
    <span class="next pointer" id="next" (click)="changePage(1)">&gt;</span>
</div>