.pagination{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    column-gap: 7px;
}


.page{
    display: inline-block;
    min-width: 24px;
    text-align: center;
    border-bottom: 2px solid #A472B7;
}

.active{
    border-color: white;
}

.more{vertical-align: bottom; margin-left: 5px; margin-right: 5px;}
.more>a{cursor: default !important; vertical-align: bottom;}