<div class="members">
    <div class="member-table">
        <div class="tr nameOfTd">
            <div class="td nickname firstTd">Nickname</div>
            <div class="td key">Key</div>
            <div class="td status">Status</div>
            <div class="td purshase">Purshase</div>
            <div class="td renewal lastTd">Renewal</div>
        </div>
        <div class="tr">
            <div class="td nickname firstTd">Nickname</div>
            <div class="td key">Key</div>
            <div class="td status">Status</div>
            <div class="td purshase">Purshase</div>
            <div class="td renewal lastTd">Renewal</div>
        </div>
    </div>
</div>