img.logo{
    height: 165px;
    transition: 0.1s;
}

img.logo:hover{
    height: 185px;
}


.login-window>div{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-row-gap: 75px;
}