.login-window{
    width: 30%;
    height: 50%;
    
    display: grid;
    grid-template-rows: 1fr auto;
    grid-row-gap: 20%;
}


img.logo{
    height: 100%;
    transition: 0.2s;
}

img.logo:hover{
    height: 110%;
}
