.members{
    position: relative;
    display: grid;
    row-gap: 10px;
}

table{
    width: 100%;
    color: black;
    border-collapse: collapse;
    background-color: #A472B7;
    border: 4px solid black;
    font-size: 18px;
    text-align: center;
    
}

th{
    padding: 15px 0px;
    font-size: 20px;
    font-weight: bold;
    border: 4px solid black;
}
/* 
th:first-child{
    width: 240px;
} */

td{
    padding-top: 10px;
    border-left: 4px solid black;
    border-right: 4px solid black;
}