.login-window{
    width: 30%;
    height: 50%;
    
    display: grid;
    grid-template-rows: 1fr 0.7fr;
    grid-row-gap: 10%;
}


div.logo{
    height: 100%;
}
img.logo{
    height: 100%;
}

form{
    display: grid;
    row-gap: 10px;
}

.admin-input{
    padding: 5px 15px;

    background-color: #21355B;
    border: 2px solid #E5E5E5;
    border-radius: 30px;
    color: white;
    justify-self: center;
    align-self: center;
    text-align: center;

    transition: 0.2s;
}

form button{
    margin-top: 15px;
}

button.admin-input{
    padding: 2px 10px;
}

button.admin-input:hover{
    padding: 2px 20px;
}
